<form class="simple_form form-vertical" novalidate="novalidate" action="/" accept-charset="UTF-8" method="post">
  <div class="form-group string required story_name">
    <label class="string required control-label control-label" for="story_name">
      <abbr title="required">*</abbr> {{t 'attributes.name'}}
    </label>
    {{input value=name class="string required form-control" type="text" name="story[name]" id="story_name"}}
  </div>  
  <div class="form-group text required story_text">
    <label class="text required control-label control-label" for="story_text">
      <abbr title="required">*</abbr> {{t 'attributes.text'}}
    </label>
    {{textarea value=text style="width: 500px; height:300px;" class="text required form-control" name="story[text]" id="story_text"}}
  </div>
{{#if newRecord}}
  <input type="submit" name="commit" value="{{t 'stories.create.title' true }}" class="btn btn-default" {{action 'saveStory'}}/>
{{else}}
  <input type="submit" name="commit" value="{{t 'stories.update.title' true }}" class="btn btn-default" {{action 'saveStory'}}/>
{{/if}}
</form>