{{#if deleted}}
{{else}}
  {{#if editMode}}
<fieldset class="fieldset" style="border: 1px solid black; padding:15px; margin-top:15px;">
  <legend>
    {{t 'activerecord.models.survey_page_short'}} {{computedPosition}}
  </legend>
  <form class="simple_form form-vertical" novalidate="novalidate" action="/" accept-charset="UTF-8" method="post">
    <div class="form-group string optional page_name">
      <label class="string optional control-label control-label" for="page_name">
        {{t 'attributes.name'}}
      </label>
      {{input value=name class="string optional form-control" type="text" name="page[name]" id="page_name"}}
    </div>  
    <div class="form-group text optional page_text">
      <label class="text optional control-label control-label" for="page_text">
        {{t 'attributes.text'}}
      </label>
      {{textarea value=text style="width: 500px; height:300px;" class="text optional form-control" name="page[text]" id="page_text"}}
    </div>
    
    <p style="margin-bottom:15px;">
      <input type="submit" name="commit" value="{{t 'general.cancel' true }}" class="btn btn-default" {{action 'cancel'}}/>
    
    {{#if id}}
      <input type="submit" name="commit" value="{{t 'survey_pages.update.title' true }}" class="btn btn-default" {{action 'save'}}/>
      <input type="submit" name="commit" value="{{t 'survey_pages.destroy.title' true }}" class="btn btn-default" {{action 'destroy'}}/>
    {{else}}
      <input type="submit" name="commit" value="{{t 'survey_pages.create.title' true }}" class="btn btn-default" {{action 'save'}}/>
    {{/if}}
    </p>
  </form>
    {{#if id}}
      {{#each tasks as |task taskIndex|}}
        {{task-form pageId=id selectedId=taskId id=task.id.$oid position=taskIndex name=task.name text=task.text answerType=task.answer_type options=task.options editAction='editTask' editPageAction='editPage' reloadAction='reload'}}
      {{/each}}
      
      {{#if newTask}}
        {{task-form pageId=id position=tasks.length answerType='Short text' options=[] addTaskAction='addTask' editAction='editTask' editPageAction='editPage' reloadAction='reload'}}
      {{else}}
        <button {{action 'addNewTask'}} class="new_task_button" style="margin-top:15px;">
          <span class="glyphicon glyphicon-plus"></span> {{t 'survey_tasks.new.title' }}
        </button>
      {{/if}}
    {{/if}}
</fieldset>
  {{else}}
<h2>{{computedName}}</h2>
<p>{{computedText}}</p>
<a {{action 'enterEditMode'}}>
  <span class="glyphicon glyphicon-pencil"></span> {{t 'general.edit'}}
</a>
<a {{action 'destroy'}}>
  <span class="glyphicon glyphicon-remove"></span> {{t 'general.destroy'}}
</a>
  {{/if}}
{{/if}}